@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Caveat', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:slategray
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bird-card {
  margin: 20px 0;
  margin-right: 20px;
  padding: 20px;
}